On {{event_date}}, a {{event_type}} occurred at {{event_location}} in {{event_country}}. The event involved {{ actor1_label}} {% if actor2_label -%} and {{actor2_label}} {% endif %} and resulted in {{ num_fatalities}} fatalities.
{% if additional_information -%} {{additional_information}}   {%- endif %}

